<div class="modal fade" id="activationModal" tabindex="-1" role="dialog" aria-labelledby="activationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Product Activation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="activation-start">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="form-activation" novalidate>
                                <div class="form-group">
                                    <label for="activation-email">Email address</label>
                                    <input type="email" class="form-control" id="activation-email" aria-describedby="emailHelp" placeholder="your@email.com" required>
                                    <small id="emailHelp" class="form-text text-muted">Input the email you entered on poddit.io</small>
                                    <div class="invalid-feedback">
                                        Please enter your email address.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="activation-key">License Key</label>
                                    <input type="text" class="form-control" id="activation-key" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" required>
                                    <small id="activation-keyHelp" class="form-text text-muted">Input the license key you received after payment</small>
                                    <div class="invalid-feedback">
                                        Invalid license key. Please contact our support team for a helping hand.
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="activation-success" style="display: none;">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <img src="../img/thumbsup.gif" width="75%">
                            <p><b>You're all set up!</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="activation-footer" class="modal-footer">
                <button id="btn-get-key" type="button" class="btn btn-secondary">Get License</button>
                <button id="btn-activate" type="button" class="btn btn-success">
                    <span id="activation-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                    Activate
                </button>
            </div>
        </div>
    </div>
</div>