<div id="insert-row-{{insert_id}}" class="row">
    <div class="col-lg-12 text-center">
        <div id="insert-{{insert_id}}" class="insert">
            <span>
                <i class="far fa-2x fa-file-audio"></i><br/>
                Update Snippet: <span id="filename-insert-{{insert_id}}"></span>
            </span>
        </div>
        <button id="del-insert-{{insert_id}}" class="btn-delete" style="display: none;">
            <i class="fas fa-2x fa-minus-circle"></i>
        </button>
    </div>
</div>
