<div id="overlay" class="text-center" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <img id="loading-animation" src="../img/loading_animation.gif" />
        </div>
    </div>
    <div class="row" style="margin-top: -7em;">
        <div class="col-lg-12">
            <div id="loading-spinner" class="spinner-border text-success" role="status"></div>
            <span id="loading-text" class="align-middle">&nbsp;WORKING ...</span>
        </div>
    </div>
</div>