{% extends "base_edit.html" %}
{% from "macros.html" import nav_link %}

{% block header %}
<link href="../css/mixer.css" rel="stylesheet">
<link href="../css/interactive_waveform.css" rel="stylesheet">
<link href="../css/mdb-file-upload.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Mixer{% endblock%}
{% block subtitle %}Add audio files for each speaker{% endblock %}

{% block navbar %}
    {{ nav_link('mixer', 'sliders-h', 'true') }}
    {{ nav_link('trim', 'cut') }}
    {{ nav_link('music', 'music') }}
    {{ nav_link('snippets', 'file-audio') }}
    {{ nav_link('finish', 'check') }}
{% endblock %}

{% block content %}
    {% with speaker_id=1 %}
    {% include "speaker_track.html" %}
    {% endwith %}

    <div id="new-speaker" style="display: none;">
        <span><i class="fas fa-2x fa-user-plus"></i></span>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-lg-12 text-right">
            <button id="btn-mix" class="btn btn-success btn-lg btn-block">
                Mix
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../js/mdb.min.js"></script>
<script type="text/javascript" src="../js/datatables.min.js"></script>
<script type="text/javascript" src="../js/mdb-file-upload.min.js"></script>
<script type="text/javascript">
    async function handleAudioInput() {
        $("#overlay").fadeIn();
        let speakerID = parseInt($(this).attr('id').split('-')[0].slice(7));
        var file = $(this)[0].files[0];
        await eel.set_speaker_track(file.path, speakerID-1)();
        var numSpeakers = $("input[type='file']").length;
        if (speakerID == numSpeakers) {
            $("#new-speaker").show();
        }
        $("#overlay").fadeOut();
    }

    async function mixTracks() {
        $("#overlay").fadeIn();
        // get track options
        const numSpeakers = $("input[type='file']").length;
        var tracks_configs = [];
        for (var i = 1; i < numSpeakers+1; i++) {
            var track_config = {};
            if ($("#speaker"+i+"-noisegate").is(':checked')) {
                track_config["gate_filter"] = -20.0;
            }
            // TODO: offset format validation
            var trackOffset = $("#speaker"+i+"-offset").val();
            if (trackOffset) {
                track_config["offset"] = trackOffset;
            }
            tracks_configs.push(track_config);
        }
        let mixed_track_path = await eel.mix_speaker_tracks(tracks_configs)();
        $("#overlay").fadeOut();
        location.href = "/templates/trim.html";
    }

    $(document).ready(function() {
        $("#progressbar li.active").prevAll("li").addClass("active");
        $("input[type='file']").change(handleAudioInput);
        $('[data-toggle="popover"]').popover({"html": true});
        $('.file-upload').file_upload();

        $("#new-speaker").click(function() {
            const numSpeakers = $("input[type='file']").length;
            const newSpeakerID = numSpeakers + 1;
            var newSpeakerHTML = `{% with speaker_id=-666 %}{% include "speaker_track.html" %}{% endwith %}`.replace(/(-666)/g, newSpeakerID);
            $(newSpeakerHTML).insertBefore("#new-speaker");
            $("#speaker"+newSpeakerID+"-audio").file_upload();
            $("#speaker"+newSpeakerID+"-audio").change(handleAudioInput);
            $("#speaker"+newSpeakerID+"-audio-badge").popover({"html": true});
            $("#new-speaker").hide();
        });

        $("#btn-mix").click(function() {
            $("#alert").hide();
            const numTracks = $("input[type='file']").length;
            var numPopulatedTracks = 0;
            for (var i = 1; i < numTracks+1; i++) {
                if ($("#speaker"+i+"-audio")[0].files.length > 0) {
                    numPopulatedTracks++;
                }
            }
            if (numPopulatedTracks != numTracks) {
                $("#alert").text("Oh Snap! You are missing an audio file for one or more of the speakers.");
                $("#alert").show();
                return;
            }

            mixTracks();
        });
    });
</script>
{% endblock %}