<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title>Poddit</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/mdb-file-upload.min.css" rel="stylesheet">
    <link href="../css/page_template.css" rel="stylesheet">
    <link href="../css/interactive_waveform.css" rel="stylesheet">
</head>
<body>

<div id="overlay" style="display: none;">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="hero">
    <h1 id="hero-header">Add Snippet</h1>
    <h4 id="header-info">Insert ads or audio clips</h4>
</div>

<section>

    <ul id="progressbar">
        <li id="mixer"><a href="/templates/mixer.html"><i class="fa fa-sliders-h"></i> <strong>Mixer</strong></a></li>
        <li id="trim"><a href="/templates/edit_onair.html"><i class="fa fa-cut"></i> <strong>Trim</strong></a></li>
        <li id="music" class="active"><a href="/templates/edit_backtracks.html"><i class="fa fa-music"></i> <strong>Music</strong></a></li>
        <li id="snippets"><i class="fa fa-file-audio"></i> <strong>Snippets</strong></li>
        <li id="finish"><i class="fa fa-check"></i> <strong>Finish</strong></li>
    </ul>

    <div class="container">

        <div id="alert" class="alert alert-danger" role="alert" style="display: none;"></div>

        <div id="snippet-audio-upload" class="row">
            <div class="col-lg-12">
                <div class="audio-upload">
                    <h3 class="subheading text-muted">
                        Snippet Audio
                        <a id="audio-badge" tabindex="-1" class="badge-pop badge badge-success align-middle" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<b>File Types</b>: .mp3, .wav<br/><b>Bit Depth</b>: 16, 32">
                            <i class="fas fa-info-circle"></i> Supported Audio
                        </a>
                    </h3>
                    <div id="file-upload-wrapper" class="file-upload-wrapper">
                        <input class="file-upload" type="file" id="snippet-audio" name="snippet-audio" accept="audio/*" data-height="150" required>
                    </div>
                </div>
            </div>
        </div>

        <div id="audio-interact-snippet" class="row" style="display:none;">
            <div class="col-lg-12">
                <h2>What part do you want to use?</h2>
                <p>Drag to select a segment of music to use.</p>

                {% with waveformID="waveform-snippet", regionLimit=1 %}
                {% include "interactive_waveform.html" %}
                {% endwith %}
            </div>
        </div>

        <div id="audio-interact-snippet-insertion-point" class="row" style="display:none;">
            <div class="col-lg-12">
                <h2>Where should we put it?</h2>
                <p>Select or pause playback where you want the snippet to start playing.</p>

                {% with waveformID="waveform-snippet-insertion-point", regionLimit=0 %}
                {% include "interactive_waveform.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
            <div class="col-md-9">
                <button id="btn-select-region" class="btn btn-success btn-lg btn-block">
                    Select Segment
                </button>
                <button id="btn-select-placement" class="btn btn-success btn-lg btn-block">
                    Select Placement
                </button>
            </div>
            <div class="col-md-3">
                <button id="btn-skip" class="btn btn-light btn-lg btn-block">
                    Cancel <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../js/mdb.min.js"></script>
<script type="text/javascript" src="../js/datatables.min.js"></script>
<script type="text/javascript" src="../js/mdb-file-upload.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.timeline.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.regions.min.js"></script>
<script type="text/javascript" src="../js/interactive_waveform.js"></script>
<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript">
var snippetAudioFilename = null;
var mixedTrackFilename = null;
var iInsert = NaN;
var snippetConfig = {
    "path": null,
    "slice": null,
    "timestamp": null
};

async function setupUI() {
    mixedTrackFilename = await eel.get_mixed_track_filename()();
    const urlParams = new URLSearchParams(window.location.search);
    iInsert = parseInt(urlParams.get('iInsert'));
    let globalTrackOptions = await eel.get_global_track_options()();
    let trackInserts = globalTrackOptions["inserts"];
    if (!isNaN(iInsert) && iInsert >= 0 && iInsert < trackInserts.length) {
        // we found a saved insert, load it up for editing
        snippetConfig = trackInserts[iInsert];
        snippetAudioFilename = snippetConfig["path"].slice(10);
        showSelectRegion();
    } else {
        showAudioSelector();
    }
}

function showAudioSelector() {
    $("input[type='file']").change(handleAudioInput);
    $('[data-toggle="popover"]').popover({"html": true});
    $('.file-upload').file_upload();

    $("#snippet-audio-upload").show();
    $("#audio-interact-snippet-insertion-point").hide();
    $("#audio-interact-snippet").hide();
    $("#btn-select-region").hide();
    $("#btn-select-placement").hide();
}

function showSelectRegion() {
    if (snippetAudioFilename != null) {
        setupInteractiveWaveform(snippetAudioFilename, "waveform-snippet", 1);
    }
    if (snippetConfig["slice"] != null) {
        addRegion(snippetConfig["slice"][0], snippetConfig["slice"][1]);
    }

    $("#snippet-audio-upload").hide();
    $("#audio-interact-snippet-insertion-point").hide();
    $("#audio-interact-snippet").show();
    $("#btn-select-region").show();
    $("#btn-select-placement").hide();
}

function showSelectPlacement() {
    if (mixedTrackFilename != null) {
        setupInteractiveWaveform(mixedTrackFilename, "waveform-snippet-insertion-point", 0);
    }
    if (snippetConfig["timestamp"] != null) {
        wavesurfer.on('ready', function() {
            wavesurfer.seekAndCenter(snippetConfig["timestamp"]/wavesurfer.getDuration());
        });
    }

    $("#snippet-audio-upload").hide();
    $("#audio-interact-snippet").hide();
    $("#audio-interact-snippet-insertion-point").show();
    $("#btn-select-region").hide();
    $("#btn-select-placement").show();
}

async function handleAudioInput() {
    $("#overlay").fadeIn();
    var file = $(this)[0].files[0];
    snippetAudioFilename = await eel.upload_audio(file.path)();
    showSelectRegion();
    $("#overlay").fadeOut();
}

async function handleSelectSnippetRegion() {
    $("#alert").hide();
    if (Object.keys(wavesurfer.regions.list).length == 0) {
        setError("<b>Oh Snap!</b> You need to select a segment of the audio file to use.");
        return;
    }

    $("#overlay").fadeIn();
    var region = null;
    $.each(wavesurfer.regions.list, function(rid, firstRegion) {
        region = firstRegion;
        return false;
    });
    let slice = [region.start, region.end];
    snippetConfig["slice"] = slice;
    showSelectPlacement();
    $("#overlay").fadeOut();
}

async function handleAddSnippet() {
    $("#alert").hide();

    if (snippetAudioFilename == null) {
        setError("<b>Oh Snap!</b> You need to select an audio file first.");
        return;
    }
    if (snippetConfig["slice"] == null) {
        setError("<b>Oh Snap!</b> You need to select a segment of the audio file to use.");
        return;
    }

    $("#overlay").fadeIn();
    snippetConfig["timestamp"] = wavesurfer.getCurrentTime();
    if (isNaN(iInsert)) {
        await eel.add_insert(snippetAudioFilename, snippetConfig["slice"], snippetConfig["timestamp"])();
    } else {
        await eel.update_insert(iInsert, snippetAudioFilename, snippetConfig["slice"], snippetConfig["timestamp"])();
    }
    $("#overlay").fadeOut();
    location.href = "/templates/edit_inserts.html";
}

function setError(msg) {
    $("#alert").html(msg);
    $("#alert").show();
}

$(document).ready(function() {
    $("#progressbar li.active").prevAll("li").addClass("active");
    setupUI();

    $("#btn-select-region").click(function() {
        handleSelectSnippetRegion();
    });
    $("#btn-select-placement").click(function() {
        handleAddSnippet();
    });
    $("#btn-skip").click(function() {
        location.href = "/templates/edit_inserts.html";
    });
});
</script>
</body>
</html>
