<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title>Poddit</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/page_template.css" rel="stylesheet">
    <link href="../css/editor.css" rel="stylesheet">
</head>
<body>

<div id="overlay" style="display: none;">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="hero">
    <h1 id="hero-header">Snippets</h1>
    <h4 id="header-info">Add audio snippets</h4>
</div>

<section>
    <ul id="progressbar">
        <li id="mixer"><a href="/templates/mixer.html"><i class="fa fa-sliders-h"></i> <strong>Mixer</strong></a></li>
        <li id="trim"><a href="/templates/edit_onair.html"><i class="fa fa-cut"></i> <strong>Trim</strong></a></li>
        <li id="music"><a href="/templates/edit_backtracks.html"><i class="fa fa-music"></i> <strong>Music</strong></a></li>
        <li id="snippets" class="active"><i class="fa fa-file-audio"></i> <strong>Snippets</strong></li>
        <li id="finish"><i class="fa fa-check"></i> <strong>Finish</strong></li>
    </ul>

    <div class="container">

        <div id="alert" class="alert alert-danger" role="alert" style="display: none;"></div>

        <h2>Add Snippets</h2>
        <p>Optional. Insert ads or other prerecorded snippets at specific points in your podcast.</p>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="new-insert">
                    <span><i class="far fa-2x fa-file-audio"></i><br/>Add Snippet</span>
                </div>
                <button class="btn-delete" style="display: none;">
                    <i class="fas fa-2x fa-minus-circle"></i>
                </button>
            </div>
        </div>

        <div class="row" style="margin-bottom: 2em;">
            <div class="col-md-9">
                <button id="btn-edit" class="btn btn-success btn-lg btn-block">
                    Add
                </button>
            </div>
            <div class="col-md-3">
                <button id="btn-skip" class="btn btn-light btn-lg btn-block">
                    Skip <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript">
var numInserts = 0;
async function setupUI() {
    let trackInserts = await get_global_track_options()()["inserts"];
    numInserts = trackInserts.length;
    for (var iInsert = 0; iInsert < numInserts; iInsert++) {
        let insertFilename = trackInserts[iInsert]["path"].slice(10);
        var insertHTML = `{% with insert_id=-666 %}{% include "insert_snippet.html" %}{% endwith %}`.replace(/(-666)/g, iInsert);
        $(insertHTML).insertBefore("#new-insert");
        $("#filename-insert-"+iInsert).text(insertFilename);
        $("#del-insert-"+iInsert).click(function() {
            removeInsert(iInsert);
        });
        $("#insert-"+iInsert).click(function() {
            location.href = "/templates/addinsert.html?iInsert="+iInsert";
        });
    }
}

async function removeInsert(iInsert) {
    await eel.remove_insert(iInsert)();
    $("div[id^='insert-row-']").each(function(index) {
        $(this).remove();
    });
    setupUI();
}

$(document).ready(function() {
    $("#progressbar li.active").prevAll("li").addClass("active");

    $("#new-insert").click(function() {
        location.href = "/templates/addinsert.html";
    });

    $("#btn-edit").click(function() {
        location.href = "/templates/process.html";
    });
    $("#btn-skip").click(function() {
        location.href = "/templates/process.html";
    });
});
</script>
</body>
</html>
