<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title>Poddit</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/master.css" rel="stylesheet">
</head>
<body>

<div id="overlay" style="display: none;">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="hero">
    <h1 id="hero-header">Edit & Master</h1>
    <h4 id="header-info">Trim, Insert Backtracks & Ads, Master</h4>
</div>

<section>
    <div class="container">
        <div id="alert" class="alert alert-danger" role="alert" style="display: none;"></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="playPause" type="button" class="btn btn-light fas fa-play"></button>
                    <button id="seek-start" type="button" class="btn btn-light fas fa-step-backward"></button>
                    <button id="seek-end" type="button" class="btn btn-light fas fa-step-forward"></button>
                    <button id="clear-regions" type="button" class="btn btn-light fas fa-redo-alt"></button>
                    <button id="del-region" type="button" class="btn btn-light fas fa-backspace" style="display: none;"></button>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 2em;">
            <div class="col-lg-12 text-right">
                <div id="waveform"></div>
                <div id="wave-timeline"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <i class="fas fa-search-minus"></i>
                <input id="zoom-slider" data-action="zoom" type="range" min="1" max="80" value="0" />
                <i class="fas fa-search-plus"></i>
            </div>
        </div>

        <div class="row" style="margin-bottom: 2em;">
            <div class="col-lg-12 text-right">
                <button id="btn-mix" class="btn btn-success btn-lg btn-block">
                    Finish
                </button>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.timeline.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.regions.min.js"></script>
<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript">
var selectedRegion = null;
$(document).ready(function() {
    const initZoomPx = 10;
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        scrollParent: true,
        hideScrollbar: false,
        plugins: [
            WaveSurfer.timeline.create({
                container: "#wave-timeline"
            }),
            WaveSurfer.regions.create({
                regions: []
            })
        ]
    });
    wavesurfer.enableDragSelection({
        drag: true,
        resize: true,
        color: "rgba(45, 255, 25, 0.1)"
    });

    wavesurfer.zoom(initZoomPx);
    $("#zoom-slider").val(initZoomPx);

    function playPause() {
        wavesurfer.playPause();
        if (wavesurfer.isPlaying()) {
            $('#playPause').removeClass('fa-play').addClass('fa-pause');
        } else {
            $('#playPause').removeClass('fa-pause').addClass('fa-play');
        }
    }

    function deleteSelectedRegion() {
        if (selectedRegion != null) {
            selectedRegion.remove();
        }
        $("#del-region").hide();
    }

    function selectRegion(region) {
        selectedRegion = region;
        $("#del-region").show();
    }

    $(document).keyup(function(event){
        let key = event.which;
        switch(key) {
            case 32:
                playPause();
                break;
            case 8:
            case 46:
                deleteSelectedRegion();
                break;
        }
    });

    $("#playPause").click(function() {
        playPause();
    });

    $("#seek-start").click(function() {
        wavesurfer.seekAndCenter(0);
    });

    $("#seek-end").click(function() {
        wavesurfer.seekAndCenter(1);
    });

    $("#zoom-slider").change(function() {
        wavesurfer.zoom(Number(this.value));
    });

    $("#clear-regions").click(function() {
        wavesurfer.clearRegions();
    });

    wavesurfer.on('region-created', selectRegion);
    wavesurfer.on('region-updated', selectRegion);
    wavesurfer.on('region-click', selectRegion);
    wavesurfer.on('region-dblclick', function(e) {
        e.play();
        $('#playPause').removeClass('fa-play').addClass('fa-pause');
    });

    $("#del-region").click(function() {
        deleteSelectedRegion();
    });

    const urlParams = new URLSearchParams(window.location.search);
    const track_filename = urlParams.get('tf');

    wavesurfer.load("../media/"+track_filename);
});
</script>
</body>
</html>
