{% extends "base_edit.html" %}
{% from "macros.html" import nav_link %}

{% block header %}
    <link href="../css/mdb-file-upload.min.css" rel="stylesheet">
    <link href="../css/interactive_waveform.css" rel="stylesheet">
{% endblock %}

{% block title %}Add Snippet{% endblock%}
{% block subtitle %}Insert ads or audio clips{% endblock %}

{% block navbar %}
    {{ nav_link('mixer', 'sliders-h', '', 'true') }}
    {{ nav_link('trim', 'cut', '', 'true') }}
    {{ nav_link('music', 'music', '', 'true') }}
    {{ nav_link('snippets', 'file-audio', 'true', 'true') }}
    {{ nav_link('finish', 'check') }}
{% endblock %}

{% block content %}
<div id="snippet-audio-upload" class="row">
    <div class="col-lg-12">
        <div class="audio-upload">
            <h3 class="subheading text-muted">
                Snippet Audio
                <a id="audio-badge" tabindex="-1" class="badge-pop badge badge-success align-middle" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<b>File Types</b>: .mp3, .wav<br/><b>Bit Depth</b>: 16, 32">
                    <i class="fas fa-info-circle"></i> Supported Audio
                </a>
            </h3>
            <div id="file-upload-wrapper" class="file-upload-wrapper">
                <input class="file-upload" type="file" id="snippet-audio" name="snippet-audio" accept="audio/*" data-height="150" required>
            </div>
        </div>
    </div>
</div>

<div id="audio-interact-snippet" class="row" style="display:none;">
    <div class="col-lg-12">
        <h2>What part do you want to use?</h2>
        <p>Drag to select a segment of music to use.</p>

        {% with waveformID="waveform-snippet", regionLimit=1 %}
        {% include "interactive_waveform.html" %}
        {% endwith %}
    </div>
</div>

<div id="audio-interact-snippet-insertion-point" class="row" style="display:none;">
    <div class="col-lg-12">
        <h2>Where should we put it?</h2>
        <p>Select or pause playback where you want the snippet to start playing.</p>

        {% with waveformID="waveform-snippet-insertion-point", regionLimit=0 %}
        {% include "interactive_waveform.html" %}
        {% endwith %}
    </div>
</div>

<div class="row" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="col-md-9">
        <button id="btn-select-region" class="btn btn-success btn-lg btn-block">
            Select Segment
        </button>
        <button id="btn-select-placement" class="btn btn-success btn-lg btn-block">
            Select Placement
        </button>
    </div>
    <div class="col-md-3">
        <button id="btn-skip" class="btn btn-light btn-lg btn-block">
            Cancel <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../js/mdb.min.js"></script>
<script type="text/javascript" src="../js/datatables.min.js"></script>
<script type="text/javascript" src="../js/mdb-file-upload.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.timeline.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.regions.min.js"></script>
<script type="text/javascript" src="../js/interactive_waveform.js"></script>
<script type="text/javascript">
var snippetAudioPath = null;
var snippetAudioFilename = null;
var mixedTrackFilename = null;
var liveRegions = null;
var iInsert = NaN;
var snippetConfig = {
    "path": null,
    "filename": null,
    "slice": null,
    "timestamp": null
};

async function setupUI() {
    mixedTrackFilename = await eel.get_mixed_track_filename()();
    liveRegions = await eel.get_live_timestamps()();
    const urlParams = new URLSearchParams(window.location.search);
    iInsert = parseInt(urlParams.get('iInsert'));
    let trackInserts = await eel.get_snippet_inserts()();
    if (!isNaN(iInsert) && iInsert >= 0 && iInsert < trackInserts.length) {
        // we found a saved insert, load it up for editing
        snippetConfig = trackInserts[iInsert];
        snippetAudioPath = snippetConfig["path"];
        snippetAudioFilename = snippetConfig["filename"];
        showSelectRegion();
    } else {
        showAudioSelector();
    }
}

function showAudioSelector() {
    $("input[type='file']").change(handleAudioInput);
    $('[data-toggle="popover"]').popover({"html": true});
    $('.file-upload').file_upload();

    $("#snippet-audio-upload").show();
    $("#audio-interact-snippet-insertion-point").hide();
    $("#audio-interact-snippet").hide();
    $("#btn-select-region").hide();
    $("#btn-select-placement").hide();
}

function showSelectRegion() {
    if (snippetAudioFilename != null) {
        setupInteractiveWaveform(snippetAudioFilename, "waveform-snippet", 1);
    }
    if (snippetConfig["slice"] != null) {
        addRegion(snippetConfig["slice"][0], snippetConfig["slice"][1]);
    }

    $("#snippet-audio-upload").hide();
    $("#audio-interact-snippet-insertion-point").hide();
    $("#audio-interact-snippet").show();
    $("#btn-select-region").show();
    $("#btn-select-placement").hide();
}

function showSelectPlacement() {
    if (mixedTrackFilename != null) {
        $("#audio-interact-snippet").remove();
        setupInteractiveWaveform(mixedTrackFilename, "waveform-snippet-insertion-point", Infinity, false);
        wavesurfer.on('ready', function() {
            // load live regions
            $.each(liveRegions, function(rid, region) {
                addRegion(region[0], region[1], false);
            });

            // center cursor
            if (snippetConfig["timestamp"] != null) {
                wavesurfer.seekAndCenter(snippetConfig["timestamp"]/wavesurfer.getDuration());
            }
        });
    }

    $("#snippet-audio-upload").hide();
    $("#audio-interact-snippet").hide();
    $("#audio-interact-snippet-insertion-point").show();
    $("#btn-select-region").hide();
    $("#btn-select-placement").show();
}

async function handleAudioInput() {
    $("#overlay").fadeIn();
    var file = $(this)[0].files[0];
    snippetAudioPath = file.path;
    snippetAudioFilename = await eel.upload_audio(snippetAudioPath)();
    showSelectRegion();
    $("#overlay").fadeOut();
}

async function handleSelectSnippetRegion() {
    $("#alert").hide();
    if (Object.keys(wavesurfer.regions.list).length == 0) {
        setError("<b>Oh Snap!</b> You need to select a segment of the audio file to use.");
        return;
    }

    $("#overlay").fadeIn();
    var region = null;
    $.each(wavesurfer.regions.list, function(rid, firstRegion) {
        region = firstRegion;
        return false;
    });
    let slice = [region.start, region.end];
    snippetConfig["slice"] = slice;
    showSelectPlacement();
    $("#overlay").fadeOut();
}

async function handleAddSnippet() {
    $("#alert").hide();

    if (snippetAudioFilename == null) {
        setError("<b>Oh Snap!</b> You need to select an audio file first.");
        return;
    }
    if (snippetConfig["slice"] == null) {
        setError("<b>Oh Snap!</b> You need to select a segment of the audio file to use.");
        return;
    }

    $("#overlay").fadeIn();
    snippetConfig["timestamp"] = wavesurfer.getCurrentTime();
    if (isNaN(iInsert)) {
        await eel.add_insert(snippetAudioPath, snippetConfig["slice"], snippetConfig["timestamp"])();
    } else {
        await eel.update_insert(iInsert, snippetAudioPath, snippetConfig["slice"], snippetConfig["timestamp"])();
    }
    $("#overlay").fadeOut();
    location.href = "/templates/snippets.html";
}

function setError(msg) {
    $("#alert").html(msg);
    $("#alert").show();
}

$(document).ready(function() {
    $("#progressbar li.active").prevAll("li").addClass("active");
    setupUI();

    $("#btn-select-region").click(function() {
        handleSelectSnippetRegion();
    });
    $("#btn-select-placement").click(function() {
        handleAddSnippet();
    });
    $("#btn-skip").click(function() {
        location.href = "/templates/snippets.html";
    });
});
</script>
{% endblock %}
