<div class="row">
    <div class="col-lg-12">
        <div id="waveform-controls-top" class="btn-group" role="group" aria-label="Basic example">
            <button id="playPause" type="button" class="btn btn-light fas fa-play"></button>
            <button id="seek-start" type="button" class="btn btn-light fas fa-step-backward"></button>
            <button id="seek-end" type="button" class="btn btn-light fas fa-step-forward"></button>
            {% if regionLimit is not defined or regionLimit > 0 %}
            <button id="one-region" type="button" class="btn btn-light fas fa-sign-in-alt"></button>
            <button id="clear-regions" type="button" class="btn btn-light fas fa-redo-alt"></button>
            <button id="snap-cursor-region" type="button" class="btn btn-light fas fa-magnet" style="display: none;"></button>
            <button id="del-region" type="button" class="btn btn-light fas fa-backspace" style="display: none;"></button>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-right">
        <div id="{{waveformID}}"></div>
        <div id="{{waveformID}}-timeline"></div>
    </div>
</div>

<div id="waveform-controls-bottom" class="row text-right">
    <div class="col-lg-12">
        <i class="fas fa-search-minus"></i>
        <input id="zoom-slider" data-action="zoom" type="range" min="1" max="80" value="0" style="width: 25%;" />
        <i class="fas fa-search-plus"></i>
    </div>
</div>
