<div id="overlay-determinant" class="text-center" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <img id="loading-animation-determinant" src="../img/loading_animation.gif" />
        </div>
    </div>
    <div class="row" style="margin-top: -7em;">
        <div class="col-lg-8 offset-lg-2">
            <div class="progress">
                <div id="loading-bar-determinant" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br/>
            <span id="loading-text-determinant" class="align-middle">&nbsp;WORKING ...</span>
        </div>
    </div>
</div>
