{% extends "base_edit.html" %}
{% from "macros.html" import nav_link %}

{% block header %}
<link href="../css/editor.css" rel="stylesheet">
<link href="../css/interactive_waveform.css" rel="stylesheet">
{% endblock %}

{% block title %}Trim{% endblock%}
{% block subtitle %}Select on-air segments{% endblock %}

{% block navbar %}
    {{ nav_link('mixer', 'sliders-h', '', 'true') }}
    {{ nav_link('trim', 'cut', 'true') }}
    {{ nav_link('music', 'music') }}
    {{ nav_link('snippets', 'file-audio') }}
    {{ nav_link('finish', 'check') }}
{% endblock %}

{% block content %}
    <h2>Where Were You Live?</h2>
    <p>Drag to select where you were live in the recording. Highlighted sections will be in your final podcast audio.</p>

    {% with waveformID="waveform", regionLimit=999999 %}
    {% include "interactive_waveform.html" %}
    {% endwith %}

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-lg-12 text-right">
            <button id="btn-edit" class="btn btn-success btn-lg btn-block">
                Trim
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../js/wavesurfer.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.timeline.min.js"></script>
<script type="text/javascript" src="../js/wavesurfer.regions.min.js"></script>
<script type="text/javascript" src="../js/interactive_waveform.js"></script>
<script type="text/javascript">
    async function setupUI() {
        // load audio
        let audioFilename = await eel.get_mixed_track_filename()();
        setupInteractiveWaveform(audioFilename, "waveform", Infinity);
        wavesurfer.on('ready', function() {
            loadLiveRegions();
        });
    }

    async function loadLiveRegions() {
        let liveRegions = await eel.get_live_timestamps()();
        $.each(liveRegions, function(rid, region) {
            addRegion(region[0], region[1]);
            if (rid == 0) {
                wavesurfer.seekAndCenter(region[0]/wavesurfer.getDuration());
            }
        });
    }

    async function setLiveRegions(liveTimestamps) {
        $("#overlay-indeterminant").fadeIn();
        await eel.set_live_timestamps(liveTimestamps)();
        $("#overlay-indeterminant").fadeOut();
        location.href = "/templates/music.html";
    }

    function setError(msg) {
        $("#alert").html(msg);
        $("#alert").show();
    }

    $(document).ready(function() {
        $("#progressbar li.active").prevAll("li").addClass("active");
        setupUI();

        $("#btn-edit").click(function() {
            $("#alert").hide();
            var liveTimestamps = [];
            $.each(wavesurfer.regions.list, function(rid, region) {
                // skip really short (< 1s) erroneously input sections
                if (region.end - region.start < 1) return;
                liveTimestamps.push([region.start, region.end]);
            });
            if (liveTimestamps.length == 0) {
                setError("<b>Oh Snap!</b> You need to select segments of your audio where you were on air before moving on.");
            } else {
                setLiveRegions(liveTimestamps);
            }
        });
    });
</script>
{% endblock %}
